# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=d6c6c158-932f-46c8-a4dd-8c6c3ed77d55

    # Set to true to disable all reporting
    B:opt-out=false
}


